SAGRADA_WEB_URL=https://www.sagradago.com
SAGRADA_EMAIL_ADDRESS=your-sagradago-email@example.com
SAGRADA_PASSWORD=YourPassword1!
EMAIL_ADDRESS=your-sagradago-email@example.com
PASSWORD=YourPassword1!
FIRST_NAME=Berlene
MIDDLE_NAME=F
LAST_NAME=Bernabe
CONTACT_NUMBER=
BIRTHDAY=1995-06-15
SIGNUP_PASSWORD=Test1234!
